<%= form_for @student, :html => { class: "form-horizontal", role: "form" } do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-3"><%= f.text_field :name, :class => 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :registration_number, class: 'col-sm-2 control-label' %>
    <% if @student.id %>
    <%= @student.registration_number %>
    <% else %>
    <div class="col-sm-3"><%= f.text_field :registration_number, :value => @registration_number, :class => 'form-control' %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-3"><%= f.text_field :email, :class => 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :mobile, class: 'col-sm-2 control-label' %>
    <div class="col-sm-3"><%= f.text_field :mobile, :class => 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :school, class: 'col-sm-2 control-label' %>
    <div class="col-sm-3"><%= f.text_field :school, :class => 'form-control' %></div>
  </div>
  

  <div class="form-group">
    <%= f.label :subject, class: 'checkbox col-sm-2 control-label'%>
    <div class="col-sm-3">
          <% @subjects.each do |subject| %>
            <li><%= check_box_tag :subject_ids, subject.id, @student.subjects.include?(subject), :class=> 'col-sm-3', :type => 'checkbox',:name => 'student[subject_ids][]' %><%= subject.name %></li>
          <% end %>
    </div>
  </div>


  <% if @subjects.blank? %>
    <p>There are no subjects in the record, create one?</p>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <%= f.submit "Create Student", :class => "btn btn-large btn-primary btn-block" %>
    </div>
  </div>
<% end %>
