<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Registration Number:</strong>
  <%= @student.registration_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @student.mobile %>
</p>

<p>
  <strong>School:</strong>
  <%= @student.school %>
</p>
<p>
  <strong>Subjects taken:</strong>
  <% @student.subjects.each do |subject| %>
    <%= subject.name %>
  <% end %>
</p>

<p>
  <strong>Tuition fee:</strong>
  <%= @student.tuition_fee %>
</p>
<h1>Payment History</h1>
<% @student.payments.each do |payment| %>
  <%= payment.created_at %>
  <%= payment.paid_for_month %>
  <%= payment.amount %>
<% end %>

<%= link_to 'Making Payment', new_payment_path(:student_id => @student) %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
